ion-content {
    .head-section{
        background: chartreuse;
    }
    .add-contact {
        background: chocolate;
        width: 100px;
        height: 100px;
        margin-top: 140%;
        padding: 0;
        margin-left: 75%;
        text-align: center;
        position: sticky;
    }
}