<ion-header [translucent]="true" class="new-background-color">
  <ion-toolbar>
    <ion-title>
      Emergency Caller
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" class="new-background-color"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <!-- <div class="header">
    <h2></h2>
  </div>
  <div class="header2">
    <h2></h2>
  </div> -->
  <div id="container">
    <ion-button expand="block"></ion-button>
  </div>
</ion-content>